body {
    background-color: rgb(52, 58, 53);
    justify-content: center;
    display: flex;
    border: 2px solid red;
    align-items: center;
    flex-direction: column;
    height: 600px;
    
    
  }
  
  h1 {
    color: white;
    text-align: center;
  }

  .all{
    background-color: rgb(79, 90, 81);
    width: 90%;
    align-self: center;
    padding: 20px;
    border-radius: 20px;
    height: 500px;
    border: 2px solid rgb(4, 0, 255);
    align-items: center;
    justify-content: center;

  }

  .field {
    width: 32.9%;
    border-radius: 20px;
    border-width: 0;
    height: 100%;

  }

  .row {
    border: 2px solid red;
    height: 30%;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;


  }